@import "tailwindcss";

@theme inline {
  --color-sliced-blue: #023d67;
  --color-sliced-purple: #8160fd;
  --color-sliced-cyan: #00e7d3;
  --font-sans: var(--font-geist-sans);
}

.font-fugaz {
  font-family: var(--font-fugaz);
}

body {
  font-family: Krub;
  background-image: url("/bg.webp");
}
